/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  width: 80%;
  margin: 0 auto;
  background-color: black;
}
section {
  margin: 20px auto;
}
header {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header nav a:last-child {
    border-bottom: none;
  }
}
header nav a {
  color: gold;
}
@media (max-width: 500px) {
  header nav a {
    padding: 5px 0;
    text-decoration: none;
    border-bottom: 1px solid gold;
    width: 100%;
  }
}
.main-container {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  background-color: gold;
}
.main-container .intro {
  display: block;
}
.main-container .intro img {
  width: 50%;
  height: auto;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .main-container .intro img {
    width: 100%;
  }
}
.main-container .intro h1 {
  font-size: 5rem;
}
.main-container .knowledge {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-container .knowledge {
    display: flex;
    flex-direction: column;
  }
}
.main-container .knowledge .knowledge-box {
  width: 48%;
}
@media (max-width: 500px) {
  .main-container .knowledge .knowledge-box {
    width: 100%;
    margin: 10px auto;
  }
}
.main-container .knowledge .knowledge-box h2 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.main-container .work-history h2 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
.main-container .contact address h2 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-weight: bold;
}
